option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node server.cjs"
    NodeVersion: 18.x
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    JWT_SECRET: cyphr-quantum-secure-2025-secret
  aws:autoscaling:asg:
    MinSize: 2
    MaxSize: 10
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperThreshold: 70
    LowerThreshold: 30
